* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #F0F7FA;
    color: #1a150e;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    margin:10px;
  }

  hr {
    border-top: 2px solid black;
    margin: 20px 0;
    width: 100%;
}

p{
  margin:10px;
  font-size: 20;
}

  .form-container {
    background:  #A0C9D6 ;
    border-radius: 10px;
    padding: 35px 30px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction:column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .form-container h2 {
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4682b4;
    text-align: center;
  
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-group label {
    font-size: 15px;
    color: #34495e;
    padding-top:5px;
    font-weight: bold;
  }
  .form-group input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #bdc3c7;
    border-radius: 6px;
    background-color: #f8f9fa;
  }
  
  .form-group input:focus {
    border-color: #0077b6;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.5);
    outline: none;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    background:#4682b4;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  h1{
    padding-top: 10px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
  }
  h2{
    padding-bottom: 10px;
    color:white;
  }

  .button:hover {
 
    background:lightblue;
    color:black;
    transform: scale(1.02);
  }
  /* Responsive Design */
  @media (max-width: 768px) {
    .form-container {
      width: 90%;
    }
    .form-group-container {
      grid-template-columns: 1fr;
    }
  }

